<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/examenes/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            No hay examenes en el sistema.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Asignaturas</th>
                    <th>Preguntas</th>
                    <th>Creado en</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let examen of lista">
                    <td>{{examen.id}}</td>
                    <td>{{examen.nombre}}</td>
                    <td>{{examen.asignaturaHija?.padre.nombre}} -> {{examen.asignaturaHija?.nombre}}</td>
                    <td>{{examen.preguntas.length}}</td>
                    <td>{{examen.createAt | date: 'yyyy-MM-dd'}}</td>
                    <td><button class="btn btn-primary btn-sm" [routerLink]="['/examenes/form',examen.id]" >Editar</button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="eliminar(examen)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
            [pageSize]="totalPorPagina"
            [pageIndex]="paginaActual"
            [pageSizeOptions]="pageSizeOptions"
            (page) = "paginar($event)"
            showFirstLastButtons
            class="float-left mx-2">
        </mat-paginator>
    </div>
</div>
    
    
    