<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        
        <button class="btn btn-secondary my-2" routerLink="/cursos">Regresar</button>
        
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control"
                [(ngModel)]="model.nombre">
                <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{error.nombre}}
                </div>
            </div>
           
            <div class="form-group">
                <button type="button" class="btn btn-primary" 
                (click)="model.id? editar(): crear()">
                    {{ model.id? 'Editar': 'Crear' }}
                </button>
            </div>
        </form>
    
    </div>
</div>
    
