<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/cursos/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            No hay cursos en el sistema.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Alumnos</th>
                    <th>Examenes</th>
                    <th>Creado en</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of lista">
                    <td>{{curso.id}}</td>
                    <td>{{curso.nombre}}</td>
                    <td><button class="btn btn-info btn-sm"
                        [routerLink]="['/cursos/asignar-alumnos', curso.id]">
                        Añadir ({{curso.alumnos.length}})
                        </button>
                    </td>
                    <td><button class="btn btn-info btn-sm"
                        [routerLink]="['/cursos/asignar-examenes', curso.id]">
                        Añadir ({{curso.examenes.length}})
                        </button>
                    </td>
                    <td>{{curso.createAt | date: 'yyyy-MM-dd'}}</td>
                    <td><button class="btn btn-primary btn-sm" [routerLink]="['/cursos/form',curso.id]" >Editar</button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="eliminar(curso)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
            [pageSize]="totalPorPagina"
            [pageIndex]="paginaActual"
            [pageSizeOptions]="pageSizeOptions"
            (page) = "paginar($event)"
            showFirstLastButtons
            class="float-left mx-2">
        </mat-paginator>
    </div>
</div>
    
    
    