<div class="card text-dark bg-light mb-3">
<div class="card-header">{{titulo}}</div>
<div class="card-body">
    
    <button class="btn btn-secondary my-2" routerLink="/alumnos">Regresar</button>
    
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control"
            [(ngModel)]="model.nombre">
            <div class="alert alert-danger" *ngIf="error?.nombre">
                {{error.nombre}}
            </div>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" class="form-control"
            [(ngModel)]="model.apellido">
            <div class="alert alert-danger" *ngIf="error?.apellido">
                {{error.apellido}}
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control"
            [(ngModel)]="model.email">
            <div class="alert alert-danger" *ngIf="error?.email">
                {{error.email}}
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="formFile" class="form-label">Seleccionar foto:</label>
                <input class="form-control" type="file" id="formFile" (change)="seleccionarFoto($event)">
            </div>
        </div>
        

        <div class="form-group">
            <button type="button" class="btn btn-primary" 
            (click)="model.id? editar(): crear()">
                {{ model.id? 'Editar': 'Crear' }}
            </button>
        </div>
    </form>

</div>
</div>
