<h1 mat-dialog-title> Curso {{curso.nombre}} </h1>
<div mat-dialog-content>
    <p>Examen {{examen.nombre}}</p>
    <mat-expansion-panel *ngFor="let pregunta of examen.preguntas">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{pregunta.texto}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field style="width: 95%;">
            <textarea matInput (change)="responder(pregunta, $event)"
            placeholder="Deja tu respuesta"></textarea>
        </mat-form-field>

    </mat-expansion-panel>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="respuestas">Enviar</button>
</div>
